# Dependencies
node_modules

# Build outputs
dist
build
.turbo
.next
.vite

# Environment variables (IMPORTANT - secrets)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# pnpm store (if local)
.pnpm-store