.divider {
  display: flex;
  max-width: 1230px;
  height: 4px;
  margin: auto;
}

.divider-accent {
  width: 50%;
  background: var(--color-text-highlight);
}

.divider-line {
  flex: 1;
  background: var(--color-primary);
}

@media (max-width: 900px) {
  .divider {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 600px) {
  .divider-accent {
    width: 40%;
  }

  .divider {
    max-width: calc(100% - 40px);
  }
}